<div class="container">
  <div class="panel container" data-ng-init="getAllCharacters()">
  
  <hgroup class="mb20">
    <h1>All Characters</h1>       
  </hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">
      <article class="search-result row" data-ng-repeat="character in allCharacters track by $index">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <a href="/show/{{character._id}}" class="thumbnail"><img ng-src="/images/{{character.image}}" alt="Lorem ipsum" /></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
          <ul class="meta-search">
            <li><i>Height: </i> <span data-ng-bind="character.height"></span></li>
            <li><i>Mass: </i> <span data-ng-bind="character.mass"></span></li>
            <li><i>Birth year:</i> <span data-ng-bind="character.birth_year"></span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <h3>Name: <a href="/show/{{character._id}}"><span title="" data-ng-bind="character.name"></span></h3></a>
          <p>Eye color: <span data-ng-bind="character.eye_color"></span><br/>
             Hair color: <span data-ng-bind="character.hair_color"></span></br>
             Skin color: <span data-ng-bind="character.skin_color"></span></p>            
                  <span class="plus" ng-if="currentUser.favouriteCharacters.indexOf(character._id) == -1"><a data-ng-click="makeFavourite(character._id)"><i class="glyphicon glyphicon-star-empty"></i></a></span>
                  <span class="plus" ng-if="currentUser.favouriteCharacters.indexOf(character._id) > -1"><a data-ng-click="unFavourite(character._id)"><i class="glyphicon glyphicon-star"></i></a></span>
                  <a href="/show/{{character._id}}"><span>View Details</span></a><br/>
                  <a href="/edit/{{character._id}}"><span>Edit</span></a> 
                  <a href="/delete/{{character._id}}"><span>Delete</span></a> 
        </div>
        <span class="clearfix borda"></span>
      </article>

      

    </section>

  </div>
</div>